<div style="height:100%!important;width:100%!important;max-width:100%!important;font-family:'Red Hat Text',sans-serif;font-size:14px!important;line-height:1.6!important;text-align:center!important;background:#e6e6e6!important;margin:0;padding:0">
    <table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0" style="padding:0!important;max-width:100%!important;width:100%!important">
      <tbody>

        <tr>
          <td align="center" valign="top">
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;overflow:hidden">
              <tbody>
                <tr height="30"><td style="border-top:8px solid #e42e2c"> </td></tr>
                <tr>
                  <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-right:50px;padding-left:50px">
                      <tbody>
                        <tr>
                          <td align="left" style="padding-top:30px">
                            <h2 style="margin-bottom:0;font-size:18px;line-height:1.5;color:#3c5373;letter-spacing:.5px;max-width:324px">Telkom Blockhain Based Digital Certificate </h2>
                            <p style="font-size:14px;line-height:1.5;margin-bottom:5px;margin-top:45px;color:#3c5373">
                              Halo <%= receiver_name %>,
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td style="padding:0 34px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:20px 17px;margin:18px 0 10px;border-radius:12px;background-color:#f4f5f7">
                      <tbody><tr>
                        <td>
                          <p style="font-size:14px;line-height:1.45;margin-bottom:0;margin-top:0;color:#3c5373">
                            <%= message %>.
                          </p>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
                
                <tr>
                  <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-right:50px;padding-left:50px">
                      <tbody>
                        <tr>
                          <td>
                            <p align="center" style="margin-bottom:5px;margin-top:25px">
                              
                              <a href="<%= url %>" style="display:inline-block;margin:10px 0;padding:8px 30px;border-radius:8px;background-color:#e42e2c;text-align:center;text-decoration:none;letter-spacing:1px;color:#fff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://mandrillapp.com/track/click/31149167/app.privy.id?p%3DeyJzIjoiZFhNQlRLOTFrZzFCYmFlbGlXVU91ZXVjOWdNIiwidiI6MSwicCI6IntcInVcIjozMTE0OTE2NyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5wcml2eS5pZFxcXC9hdXRoXFxcL2xvZ2luP3JlZGlyZWN0PWh0dHBzOlxcXC9cXFwvYXBwLnByaXZ5LmlkXFxcL2RvY3VtZW50XFxcL2RldGFpbFxcXC9hMGExYmU2YjZjMmM0NmMxMmYwZDMwNDJhZjM4MmRmYmExYmUyNWRlNDk0YWY3NTVlZjc3MGViODA1MjgxYzU0XFxcL3ZpZXdcIixcImlkXCI6XCJkY2I3YmYwOTlkYmE0OTA2YjhlNzY2NjEyYjk0ZTlhYVwiLFwidXJsX2lkc1wiOltcImNlMjM5NmIwNzNlZGI0MGEzMDhiZmZkYmUwNzJlNDI2OWU5YzMxMzVcIl19In0&amp;source=gmail&amp;ust=1631031333496000&amp;usg=AFQjCNE3z0HNJyFOUgpl_rvh9K66zEsJMw">
                                Lihat Sertifikat
                                <span style="display:block;font-size:10px;line-height:10px;margin-bottom:2px;font-weight:500;font-style:italic;color:#fff;opacity:0.6">View Certificate</span>
                              </a>
                              
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:40px 0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:35px 80px 50px 50px;background-color:#3c5373">
                      <tbody><tr>
                        <td>
                          <p style="font-size:12px;line-height:1.5;margin-bottom:20px;color:#fff;font-weight:normal">
                            Catatan: Pesan ini dikirimkan dari alamat surat elektronik yang tidak dipantau.<br>Jangan balas pesan ini.</b></a>
                          </p>
                          <p style="font-size:12px;line-height:1.5;margin-bottom:5px;color:#8a98ab;font-weight:normal;font-style:italic">
                            Note: Don't reply to this email. This email is sent from an unmonitored e-mail address.</b></a>
                          </p>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>